html {
    margin: auto;
}

.container-custom {
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
}

a {
    color: #007CBA;

}

a:hover {
    text-decoration: none;
}

.navbar-toggler .icon-bar {
    margin: 7px;
    display: block;
    width: 22px;
    height: 1px;
    background-color: #cccccc;
    border-radius: 1px;
}


/* Top CSS */
.phone-color {
    color: #007CBA;
}

.navbar-brand {
    font-size: smaller;
    margin: 0;
}

.top-border {
    border-bottom: solid 1px solid;
}

.top-mg-right {
    margin-right: 10px;
}

.top-btn-search {
    border: 0px;
    background-color: white;
}

.top-search-all {
    margin-right: 10px;
}

/* Nav CSS */
.nav-text-style {
    font-weight: bold;
    font-size: small;
    text-transform: uppercase;
}

.nav-padding {
    padding-right: 30px;
}

.pos-nav {
    background-color: #fff;
}


/* navbar */

.item-nav {
    margin-right: 5px;
    text-transform: uppercase;
}

.item-navbar:not(.is_active):hover:before {
    opacity: 1;
    bottom: 0;
}

.item-navbar:not(.is-active):hover {
    color: #333;
}


.ul-item {
    padding: 0;
    list-style: none;
}

.ul-item .item-nav {
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
}

.ul-item .item-nav .nav-a {
    display: block;
    padding: 8px 5px;
    text-decoration: none;
}

.ul-item .item-nav .nav-a:hover {
    background: #007cba;
    color: white;
}



.ul-item .item-nav .ul-item.dropdown {
    min-width: 100%;
    /* Set width of the dropdown */
    background: #f2f2f2;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}

.ul-item .item-nav:hover .ul-item.dropdown {
    display: block;
    /* Display the dropdown */
}

.ul-item .item-nav ul.dropdown .item-nav {
    display: block;
}

/* end */





/* content 1 */
.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/* end */

/* Canh đều các content */
.text-ali {
    font-size: smaller;
    margin: auto;
}

.info-mg {
    margin-top: 30px;
}

.info-pos {
    bottom: 0px;

}

.pos-pd {
    padding-right: 0px;
}

.tall {
    height: 150px;
}

.product-mg {
    margin-top: 30px;
}

.product-mg-bottom {
    margin-left: 20px;
}

.product-text {
    background-color: black;
    opacity: 0.6;
    padding: 10px;
    padding-left: 35px;
    position: absolute;
    bottom: 0px;
    right: 15px;
    color: white;
}

.product-mg-6 {
    margin-right: 15px;
}

.product-2-mg {
    margin-right: 50px;
}

.product-text:hover {
    text-decoration: none;
    color: #007CBA;
}

.ikonat-home {
    font-size: 25pt;
}

/* end */



/* content 4 */
.title {
    position: absolute;
    top: 60px;
    left: 40px;
    right: 40px;
    bottom: 40px;
}

.title::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scale(0, 1)
}

.hieu_ung:hover .sp {
    opacity: 0.2;
}

.hieu_ung:hover .title:before {
    transform: scale(1, 1)
}

.title::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    box-sizing: border-box;

    transition: 0.5s;
    transform: scale(1, 0)
}

.hieu_ung:hover .title:after {
    transform: scale(1, 1)
}

.thong_tin {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    padding: 20px;

    text-align: center;
    margin: 0 auto;
    color: #000;
    text-transform: uppercase;
    opacity: 0;
    transition: 0.5s;
}

.hieu_ung:hover .thong_tin {
    opacity: 1.5;
}


/* end */


/* product */
.title1 {
    position: absolute;
    top: 40px;
    left: 80px;
    right: 80px;
    bottom: 80px;

}

.title1::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-sizing: border-box;

    transition: 0.5s;
    transform: scale(0, 1)
}

.hieu_ung1:hover .sp {
    opacity: 0.2;
}

.hieu_ung1:hover .title1:before {
    transform: scale(1, 1)
}

.title1::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    box-sizing: border-box;

    transition: 0.5s;
    transform: scale(1, 0)
}

.hieu_ung1:hover .title1:after {
    transform: scale(1, 1)
}

.thong_tin1 {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    padding: 20px;
    color: #000;
    text-transform: uppercase;

    text-align: center;
    margin: 0 auto;

    opacity: 0;
    transition: 0.5s;
}

.hieu_ung1:hover .thong_tin1 {
    opacity: 1;
}

/* end */


/* content 5 */
.size-product-2 {
    height: 450px;
}

.btn-more-product2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 25px;
}

.bg-user {
    background-image: linear-gradient(to right, #007CBA 0%, #007CBA 100%), url(../images/mk1.jpg);
    background-blend-mode: multiply;
    width: 100%;
    height: 100%;
}

.user-pd {
    padding-top: 50px;
    padding-bottom: 50px;
}

.text-style-2 {
    color: white;
}

.text-style-3 {
    color: white;
    font-size: small;
}

.btn-user-pd {
    padding-right: 0px;
}

.news {
    padding-top: 15px;
}

.btn-trapanes {
    background-color: transparent;
    color: white;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
    /* Firefox */
    font-family: rbicon;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
    font-family: rbicon;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
    font-family: rbicon;
}

.top-mg {
    margin-top: 15px;
}

.bottom-mg {
    margin-bottom: 15px;
}

/* end */

/* Nhân viên content 7 */
.bg-dt {
    background-image: linear-gradient(to right, #007CBA 0%, #007CBA 100%), url(../images/mk1.jpg);
    background-blend-mode: multiply;
    color: #fff;
    width: 100%;
}

.mg-doitac {
    margin-top: 15px;
    width: 100%;
}

.mg-doitac-1 {
    margin-top: 50px;
}

.mg-doitac-2 {
    margin-bottom: 50px;
}

.bg-dt-1 {
    background-image: linear-gradient(to right, #ee9b11 0%, #ee9b11 100%), url(../images/mk1.jpg);
    background-blend-mode: multiply;
    width: 100%;
    height: 100%;

}

/* end */


/* Đối tác content 8 */
.gioi-thieu-style {
    width: 100%;
    height: 120px;
}

.gioi-thieu-style-1 {
    font-weight: bold;
    font-size: 35pt;
    color: #007CBA;
}

.gioi-thieu-style-2 {
    position: absolute;
    bottom: 12px;
    left: 0px;
    font-weight: bold;
}

.gioithieu-mg {
    margin-top: 35px;
}

.fa.fa-chevron-circle-right {
    right: 0;
}

.fa.fa-chevron-circle-left {
    left: 0;
}

.fa.fa-chevron-circle-right,
.fa.fa-chevron-circle-left {
    margin-bottom: 1px;
    position: absolute;
    top: -30px;
    color: #007CBA;
}

.col-img-responsive02 span {
    color: #fff;
}

.col-img-responsive02 {

    display: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
    height: 100%;
    position: absolute;
    width: 100%;
}

.carousel-control {
    width: 5%;
}

.panel-body {
    position: relative;
    padding: 0px;
}

.btn-primary {
    background-color: #007CBA;
    border-color: #007CBA;
    border-radius: 0;
    bottom: -15px;
    color: #fff;
    position: relative;
    width: 100%;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.38);
}

.btn-primary {
    background-color: #007CBA;
    border-color: #fff;
    margin-bottom: 15px;
}

.panel-default {
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.38);
    border: medium none;
    border-radius: 0;
}

.panel-heading {
    padding: 0px;
    position: relative;
}

.panel-heading img {
    width: 100%;
}

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}

h2 {
    text-align: center;
    padding: 20px;
}

/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* end */

/* bottom */
.bg-bottom {
    background-image: linear-gradient(to right, #007CBA 0%, #007CBA 100%), url(../images/mk1.jpg);
    background-blend-mode: multiply;
    color: #fff;
    width: 100%;
}

/* end */

/* footer csbh */
.csbh:hover {
    background-color: blue;
    padding: 10px;
    border-radius: 50px;
}

/* end */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}